
/* card style */
/* card-img-top {
    width: 20%;
    height: 70px;
    object-fit: cover;
  }
  
  .card-title {
    color: #FF6B81; 
  }
  
  .card:hover .card-description {
    display: block;
  }
  
  .card-description {
    display: none;
  }
   */
  
  #root {
    font-family: 'Audiowide';
  }

  .navbar {
    /* background-color: #3C486B; */
    background-color: #0e6efd;

  }

  .authform {
    background-color: #F45050;
    margin: 50px;
    padding: 60px;
    padding-left: 40px;
    
  }

  .difference {
    text-align: center;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    padding-bottom: 100px
  }

  .homePageLocallySourced {
    transition: transform .5s ease;
  }

  .homePageLocallySourced:hover {
    transform: scale(1.2);
  }

  .homePageHandCrafted {
    transition: transform .5s ease;
  }

  .homePageHandCrafted:hover {
    transform: scale(1.2);
  }

  .homePageGuaranteedFresh {
    transition: transform .5s ease;
  }

  .homePageGuaranteedFresh:hover {
    transform: scale(1.2);
  }

  .homePageOutOfThisWord {
    transition: transform .5s ease;
  }

  .homePageOutOfThisWord:hover {
    transform: scale(1.2);
  }

  .homePageIcon {
    font-size: 36px;
  }

  .carousel {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  }

  .cartItemCard {
    margin-top: 30px;
  }

  /* .cartItemCard:hover {
    transform: scale(1.01);
  } */

  .editButton {
    margin-right: 10px;
  }

  .saveChangesButton {
    margin-bottom: 10px;
  }

  #addToCartButton {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #orderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin-bottom: 30px;
  }

  .orderSuccess {
    text-align: center;
  }

  .appContainer {
    background-color: #0d0d0d;
  }

  #menuCards {
    margin-top: 50px;
  }

   .card-img-top {
    width: 80%;
    height: 280px;
    object-fit: cover;
    display: block;
  }
  
  .card-title {
    color: #0d0d0d; /* Change this value to your desired font color */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
    font-weight: 800; /* Bold font weight */
    font-size: 24px; /* Adjust font size as needed */
  }
  
  .card-body {
    background-color: #F0F0F0;
  }

  .cardHeader {
    color: #fff;
  }

  .card-description {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  
  .card:hover .card-description {
    opacity: 1;
  }

  .moonImage {
    width:100%;
    height:100%;
  }

  .getfryinImage {
    width:100%;
    height:100%;
  }

  .startOrder {
    background-color:black;
  }

  #startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
  }

  #logo {
    height:130px;
    width:130px;
  }

/* /////////////////////////////////////FOOTER MESS////////////////////////////////////////// */
                                    /* LINES 57-219 */
  .footer {
    /* position: fixed; */
    bottom: 0;
    background-color: #3C486B;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    /* margin-top: 50px; */
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 30%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #142dac;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 25%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #F45050;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 43%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #F45050;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #F45050;
  }
  
  .footer .name {
    color: #F45050;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }
  
  
  
  